#site-footer {
  width: 100%;
  background: $blue;
  .main-footer {
    padding-top: 113px;
    padding-bottom: 104px;
  }
  .widget-title {
    font-size: 22px;
    color: $white;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-family: $monserat;
  }
  .footer-right {
    .widget_text {
      width: 50%;
      padding-left: 10px;
      .contact-info-list {
        li {
          margin-bottom: 22px;
          color: $white;
          transition: all 200ms ease;
          display: flex;
          align-items: center;
          &:last-child {
            margin-bottom: 0;
          }
          &:hover {
            color: $orange;
            a {
              color: $orange;
            }
          }
          a {
            color: $white;
          }
          img {
            display: block;
            width: 20px;
            height: 20px;
            position: relative;
            top: -2px;
            margin-right: 10px;
          }
          > div, a {
            color: $white;
            margin-top: -4px;
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            line-height: 2;
            font-weight: 300;
            -webkit-font-smoothing: antialiased;
            margin-bottom: 0;
            -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
            text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
          }
        }
      }
    }
  }
  .footer-left {
    display: flex;
    .recent-posts-widget-with-thumbnails {
      width: 50%;
      padding-left: 15px;
      padding-right: 15px;
      ul {
        li {
          a {
            font-size: 16px;
            font-weight: 400;
            color: $white;
            transition: all 200ms ease;
            &:hover {
              color: $orange;
            }
          }
          .rpwwt-post-date {
            font-size: 14px;
            color: $orange;
            margin-top: 7px;
          }
        }
      }
      img {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
    .widget_text {
      width: 50%;
      padding-right: 15px;
      .textwidget {
        > a {
          width: 180px;
          display: block;
          margin-top: -40px;
          margin-bottom: 30px;
          img {
            width: 100%;
          }
        }
        p {
          font-size: 14px;
          color: $white;
        }

      }

      .footer-socia-list {
        display: block;
        padding: 0;
        margin-top: 30px;
        li {
          display: inline-block;
          width: 31px;
          height: 31px;
          border: solid 1px $orange;
          border-radius: 50%;
          text-align: center;
          transition: all 200ms ease;
          margin-right: 9px;
          &:hover {
            background: $orange;
            i {
              color: $blue;
            }
          }
          &:last-child {
            margin-right: 0;
          }
          a {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            i {
              display: block;
              position: relative;
              color: $white;
              top: 50%;
              transform: translateY(-50%);
              font-size: 12px;
              transition: all 200ms ease;
            }
          }
        }
      }
    }
  }
  .copyright {
    background: #1f0733;
    padding: 10px 0;
    .flex-wrapper {
      display: flex;
      align-items: center;
      .widget_nav_menu {
        margin-left: auto;
        .menu-item {
          margin-right: 0;
          &:after {
            display: none;
          }
          a {
            font-size: 12px;
            font-weight: 600;
            color: #685677;
            text-transform: uppercase;
            line-height: 2;
            transition: all 200ms ease;
            &:hover {
              color: $white;
            }
          }
        }
      }
      .widget_text {
        width: 240px;
        display: block;
        .textwidget {
          p {
            margin: 0;
            font-size: 12px;
            font-weight: 600;
            color: #685677;
            a {
              color: #007bff;
            }
          }
        }
      }
    }

  }
}
