.wedding-section{
  .wedding-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .wedding-item-wrapper{
      width: 50%;
      height: 300px;
      position: relative;
      .wedding-content{
        position: absolute;
        z-index: 1;
        background: rgba(53, 10, 78,0.7);
      }
      .wedding-item-image{
        width: 100%;
        height: 100%;
      }
    }
  }

}