@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900');

@import url('https://fonts.googleapis.com/css?family=Martel+Sans:200,300,400,800,900');
/*********************************
 Body and some general stuff
*********************************/

*
{
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
  font-family:$monserat;
  font-size: 14px;
  font-weight: 400;
  background: $pink;
}
h1, h2, h3, h4, h5, h6,p,a,span,div,section,li,button,input{
  &::selection{
    background: $pink;
  }
}
div,section
{
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul
{
  list-style: none;
  margin-bottom: 0;
}
p
{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
a, a:hover, a:visited, a:active, a:link
{
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

h1{font-size: 96px;}
h2{font-size: 40px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea{
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
.container-fluid,.home #main-column{
  padding: 0;
}
.section-title{
  font-weight: 400;
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
  color: $black;
  position: relative;
}
.entry-meta{
  display: none;
}
.container{
  display: block;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: $white;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
