/*********************************
Header Top Bar
*********************************/
.top-bar {
  width: 100%;
  height: 36px;
  background: #ffffff;
  transition: all 400ms ease;
  display: none;
  .phone {
    display: inline-block;
    margin-right: 36px;
    line-height: 36px;
    font-size: 10px;
    font-weight: 600;
    color: $black;
  }
  .social {
    .social-list-item {
      position: relative;
      display: inline-block;
      margin-right: 3px;
      &:hover a i {
        color: #fa9e1c;
      }
      &:last-child {
        margin-right: 0;
      }
      a {
        display: block;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 36px;
        i {
          font-size: 12px;
          color: $black;
          transition: all 200ms ease;
        }
      }
    }
  }

  .user-box {
    display: block;
    position: relative;
    box-sizing: border-box;
    margin-left: auto;
    .user-box-link {
      display: inline-block;
      a {
        display: block;
        font-size: 10px;
        line-height: 36px;
        font-weight: 600;
        color: $black;
        text-transform: uppercase;
        &:hover {
          color: #fa9e1c;
        }
      }
    }
    .user-box-login {
      margin-right: 15px;
      &:after {
        display: block;
        position: absolute;
        top: 12px;
        right: -9px;
        background: $white;
        width: 1px;
        height: 9px;
        content: '';
      }
    }
  }
}

/*********************************
Header Navigation
*********************************/
header {
  .header-fixed {
    position: fixed;
    transition: all 400ms ease;
    width: 100%;
    background: transparent;
    z-index: 12;
    top: 0;
    left: 0;
    right: 0;
    background: $white;
    .flex-wrapper {
      display: flex;
      align-items: center;
      height: 85px;
      justify-content: space-between;
      padding: 55px 0;
      .logo {
        transition: all 400ms ease;
        a {
          width: 180px;
          display: block;
          img {
            width: 100%;
          }
        }
      }
      .right-menu {
        display: flex;
        align-items: center;
        .search-btn {
          margin-left: 10px;
        }
      }
      .navigation {
        margin: 0;
        @include respond-to(tablets-landscape) {
          display: none;
        }
        .navbar-nav {
          background-color: transparent;
          border: 0;
          box-shadow: none;
          margin: 0;
        }
      }
    }
  }
}

/*********************************
Header For item Page
*********************************/
.home {
  .entry-header {
    display: none;
  }
}

/*********************************
Menu Item
*********************************/

.menu-item {
  position: relative;
  display: inline-block;
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
  a {
    font-family: $opensans;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 15px !important;
    color: $black;
    text-transform: uppercase;
    &:hover, &:focus, &:visited {
      background-color: transparent !important;
    }
  }
}

/*********************************
Mobile Menu
*********************************/
.hamburger {
  display: none;
  transform: translateY(-3px);
  cursor: pointer;
  margin-left: 20px;
  @include respond-to(tablets-landscape) {
    display: block;
  }
  &:hover i {
    color: #fa9e1c;
  }
  i {
    font-size: 24px;
    color: $white;
  }
}

.menu-mobile {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #fa9e1b, #8d4fff);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  left: 0;
  top: 0;
  transition: all 400ms ease;
  .navbar-nav {
    margin: 0;
  }
  .menu-content {
    width: 100%;
    height: 100%;
    @include respond-to(tablets-landscape) {
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    .logo {
      margin-bottom: 28px;
      a {
        width: 180px;
        display: block;
        img {
          width: 100%;
        }
      }
    }
    .menu-item {
      position: relative;
      margin-right: 0;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        padding: 30px !important;
        display: inline-block;
        font-family: $opensans;
        position: relative;
        font-size: 26px;
        color: $white;
        font-weight: 400;
      }
    }
  }
}

.menu-mobile.active {
  opacity: 0.95;
  visibility: visible;
}

/*********************************
Header After Scrolled
*********************************/
.scrolled {
  background: rgba(54, 19, 84, 0.6) !important;
  border-bottom: 1px solid $orange;
  .top-bar {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
  .content_search {
    transform: none;
  }
  .flex-wrapper {
    padding: 40px 0 !important;
    .logo {
      a {
        width: 140px !important;
      }
    }
  }

  .hamburger {
    transform: none;
  }
}
.home{
  padding-top: 60px;
  .main-image{
    width: 650px;
    height: 720px;
    display: block;
    margin: 0 auto;
    .first-flower{
        position: absolute;
        left: 60px;
        top: 60px;
      }
      .second-flower{
        position: absolute;
        right: 90px;
        bottom: 90px;
        transform: rotate(90deg);
      }
    .section-title{
      color: $white;
      position: absolute;
      left: 50%;
      top: 50%;
      font-weight: 600;
      transform: translate(-50%,-50%);
      span{
        font-size: 14px;
        display: block;
      }

    }
  }
}
