/* MIXINS */

// Different devices resolutions
// Different devices resolutions
@mixin respond-to($media) {
  @if $media==old-phones {
    @media only screen and (max-width: 320px) {
      @content;
    }
  } @else if $media==phones {
    @media only screen and (max-width: $screen-xs) {
      @content;
    }
  } @else if $media==phones-landscape {
    @media only screen and (max-width: $screen-xs-max) {
      @content;
    }
  } @else if $media==nexus7 {
    @media only screen and (min-width: 600px) and (max-width: 960px) {
      @content;
    }
  } @else if $media==tablets-landscape {
    @media only screen and (max-width: $screen-sm-max) {
      @content;
    }
  } @else if $media==tablets-landscape {
    @media only screen and (max-width: $screen-md-max) {
      @content;
    }
  } @else if $media==desktops {
    @media only screen and (max-width: 1440px) {
      @content;
    }
  } @else if $media==desktops-large {
    @media only screen and (max-width: 1920px) {
      @content;
    }
  } @else if $media==desktops-xlarge {
    @media only screen and (max-width: 2560px) {
      @content;
    }
  }
}

/*
Mixin for responsive (relative) font-sizes depending on the screen size using media queries.
This is width based, but you can easily adjust it for more complex, or simple, checking.
Set the base as you max size, then I divided everything into tenths of the base.
To use, simply include the mixin, passing it the font-size that you'd want to see at 100%.
This should then scale nicely along in tenths. If you need more detail, just add more elements to the level list.
Oh, and this requires SASS 3.2 (and higher?)
See the compiled (debugged) code below.
*/
@mixin responsive-font($fontsize) {
  $base: 2560px;
  @media (min-width: $base) {
    font-size: $fontsize;
  }
  @each $factor in 0.9, 0.8, 0.7, 0.6, 0.5 {
    @media (max-width: $base * $factor) {
      font-size: $fontsize * $factor;
    }
  }
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

@mixin responsive-dimensions($property, $dimensions) {
  $base: 2560px;
  @media (min-width: $base) {
    #{$property}: $dimensions;
  }
  @each $factor in 0.9, 0.8, 0.7, 0.6, 0.5, 0.4, 0.3 {
    @media (max-width: $base * $factor) {
      #{$property}: $dimensions * $factor;
    }
  }
}

// Container Widths
@mixin bs-container() {
  width: $container-lg;
  max-width: $container-lg;
  @include respond-to(tablets-landscape) {
    width: $container-md;
    max-width: $container-md;
    @include respond-to(tablets-portrait) {
      max-width: 100%;
      width: 100%;
      padding-left: $regular-spacer;
      padding-right: $regular-spacer;
    }
  }
}

@mixin placeholder($color, $size:"", $weight: "400") {
  &::-webkit-input-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
      font-weight: $weight;
    }
  }
  &:-moz-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
      font-weight: $weight;
    }
  }
  &::-moz-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
      font-weight: $weight;
    }
  }
  &:-ms-input-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
      font-weight: $weight;
    }
  }
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin fadeIn($duration, $delay) {
  opacity: 0;
  /* make things invisible upon start */
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-duration: $duration;
  animation-delay: $delay;
}

@mixin rotate($value: 0) {
  -webkit-transform: rotate($value);
  -moz-transform: rotate($value);
  -ms-transform: rotate($value);
  -o-transform: rotate($value);
  transform: rotate($value);
}

@mixin border-radius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow: $top $left $blur $color #{$inset};
  -moz-box-shadow: $top $left $blur $color #{$inset};
  box-shadow: $top $left $blur $color #{$inset};
}

@mixin colorfull-btn() {
  .button {
    display: inline-block;
    height: 53px;
    border-radius: 0;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 10px;
    position: relative;
    &:hover{
      .button_bcg {
        left: -100%;
      }
    }
    .button_bcg {
      position: absolute;
      top: 0;
      left: 0;
      width: 200%;
      height: 100%;
      background: $gradient;
      z-index: -1;
      transition: all 400ms ease;
    }
    a {
      display: block;
      font-size: 13px;
      color: $white;
      text-transform: uppercase;
      line-height: 53px;
      padding-left: 46px;
      padding-right: 46px;
      white-space: nowrap;
      z-index: 2;
      text-decoration: none;
      span {
        display: inline-block;
        vertical-align: middle;
        width: 5.75px;
        height: 5.63px;
        background: $white;
        border-radius: 50%;
        margin-right: 2px;
        &:first-child{
          margin-left: 10px;
        }
        &:nth-child(2) {
          opacity: 0.6;
        }
        &:last-child {
          opacity: 0.4;
          margin-right: 0;
        }
      }
    }
  }
}

@mixin font24px(){
  font-size: 24px;
  @include respond-to(tablets-landscape){
    font-size: 22px;
  }
  @include respond-to(phones-landscape){
    font-size: 20px;
  }
}
@mixin font100px(){
  font-size: 100px;
  @include respond-to(tablets-landscape){
    font-size: 80px;
  }
  @include respond-to(phones-landscape){
    font-size: 60px;
  }
  @include respond-to(phones){
    font-size: 50px;
  }
}
@mixin font115px(){
  font-size: 115px;
  @include respond-to(tablets-landscape){
    font-size: 90px;
  }
  @include respond-to(phones-landscape){
    font-size: 500px;
  }
}
@mixin section-title{
  color: #131a2f;
  font-weight: 300;
  width: 100%;
  margin-bottom: 60px;
  text-align: center;
  div{
    font-size: 16px;
    font-weight: 400;
    color: #7d8293;
    text-transform: uppercase;
    margin-top: 19px;
  }
}
