/////////Fonts////////
$opensans: 'Open Sans', sans-serif;
$monserat:  'Montserrat', sans-serif;

/////////////Color//////////
$white:#FFFFFF;
$grey:#f5f5f5;
$text-color:#7d8293;
$blue:#350a4e;
$black: #212121;
$pink:#f4c0af;
$orange:#fa9e1b;
$gradient:linear-gradient(to right, #fa9e1b, #8d4fff);








